BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "o_LED_SINK[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[18]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[19]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[20]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[21]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[22]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[23]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[24]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[25]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[26]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[27]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[28]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[29]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[30]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_LED_SINK[31]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_LED_SINK[0]" SITE "1" ;
LOCATE COMP "o_LED_SINK[1]" SITE "2" ;
LOCATE COMP "o_LED_SINK[2]" SITE "3" ;
LOCATE COMP "o_LED_SINK[3]" SITE "4" ;
LOCATE COMP "o_LED_SINK[4]" SITE "7" ;
LOCATE COMP "o_LED_SINK[5]" SITE "8" ;
LOCATE COMP "o_LED_SINK[6]" SITE "12" ;
LOCATE COMP "o_LED_SINK[7]" SITE "13" ;
LOCATE COMP "o_LED_SINK[8]" SITE "16" ;
LOCATE COMP "o_LED_SINK[9]" SITE "17" ;
LOCATE COMP "o_LED_SINK[10]" SITE "20" ;
LOCATE COMP "o_LED_SINK[11]" SITE "21" ;
LOCATE COMP "o_LED_SINK[12]" SITE "24" ;
LOCATE COMP "o_LED_SINK[13]" SITE "25" ;
LOCATE COMP "o_LED_SINK[14]" SITE "27" ;
LOCATE COMP "o_LED_SINK[15]" SITE "28" ;
LOCATE COMP "o_LED_SINK[16]" SITE "31" ;
LOCATE COMP "o_LED_SINK[17]" SITE "32" ;
LOCATE COMP "o_LED_SINK[18]" SITE "34" ;
LOCATE COMP "o_LED_SINK[19]" SITE "35" ;
LOCATE COMP "o_LED_SINK[20]" SITE "38" ;
LOCATE COMP "o_LED_SINK[21]" SITE "39" ;
LOCATE COMP "o_LED_SINK[22]" SITE "40" ;
LOCATE COMP "o_LED_SINK[23]" SITE "41" ;
LOCATE COMP "o_LED_SINK[24]" SITE "42" ;
LOCATE COMP "o_LED_SINK[25]" SITE "43" ;
LOCATE COMP "o_LED_SINK[26]" SITE "48" ;
LOCATE COMP "o_LED_SINK[27]" SITE "49" ;
LOCATE COMP "o_LED_SINK[28]" SITE "51" ;
LOCATE COMP "o_LED_SINK[29]" SITE "52" ;
LOCATE COMP "o_LED_SINK[30]" SITE "53" ;
LOCATE COMP "o_LED_SINK[31]" SITE "54" ;

LOCATE COMP "i_RESET_n" SITE "62" ;
IOBUF PORT "i_RESET_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;

LOCATE COMP "i_TOGGLE_SYNC" SITE "70" ;
IOBUF PORT "i_TOGGLE_SYNC" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_HEAD_FLAG" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_HEAD_FLAG" SITE "71" ;
